<h1>Generate Spending</h1>

<br/>
<fieldset>
  <%= form_with model: @spending, url: spendings_path do |f| %>
    <div class="field">
      <b><%= f.label :amount %><br /></b>
      <%= f.number_field :amount, step: :any %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</fieldset>
